<md-dialog aria-label="Add Task" layout="column" ng-cloak>
  <md-content layout-padding>
    <form name="addTaskForm" ng-submit="addTaskForm.$valid && TaskDialogCtrl.createNewTask(task)">

      <div layout="row">
        <md-input-container flex="50">
          <label>Task Name</label>
          <input required name="name" ng-model="task.name" md-maxlength="30">
          <div ng-messages="addTaskForm.name.$error">
            <div ng-message="required">The task name is required.</div>
          </div>
        </md-input-container>

        <md-input-container flex="50">
          <label>Task Type</label>
          <md-select name="type" ng-model="task.type" required>
            <md-option value="1">Feature</md-option>
            <md-option value="2">Bug</md-option>
            <md-option value="3">Improvement</md-option>
          </md-select>
        </md-input-container>
      </div>

      <md-input-container class="md-block">
        <label>Description</label>
        <textarea name="description" ng-model="task.description" required md-maxlength="150"></textarea>
        <div ng-messages="addTaskForm.description.$error" ng-show="userForm.bio.$dirty">
          <div ng-message="required">This is required!</div>
          <div ng-message="md-maxlength">That's too long!</div>
        </div>
      </md-input-container>

      <div layout="row">
        <md-input-container flex="50">
          <label>Assign to</label>
          <md-select name="assignedTo" ng-model="task.assignedTo" required>
            <md-option value="1">User 1</md-option>
            <md-option value="2">User 2</md-option>
            <md-option value="3">User 3</md-option>
          </md-select>
        </md-input-container>

        <md-input-container flex="50">
          <label>Status</label>
          <md-select name="status" ng-model="task.status" required>
            <md-option value="1">TODO</md-option>
            <md-option value="2">DOING</md-option>
            <md-option value="3">DONE</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div>
        <md-button type="submit">Add</md-button>
      </div>
    </form>
  </md-content>
</md-dialog>